---
layout: default
title: Brand
permalink: /elements/brand
---

<h1 class="u-margin-b-xxlarge u-t-bold">Brand</h1>

<h2 class="u-margin-b-large u-t-gray-700 u-t-large">Colour</h2>

<p class="u-padding-b-large u-t-gray-500">The logo should only appear in the colours below. The brand blue logo is the default version. It can also be displayed on a black background.</p>

<div class="row u-margin-b-xxlarge">

	<div class="col-sm-6 u-margin-b-large">
		<div class="u-bg-black u-padding-a-large u-br-x3">
			<div class="brand brand--white">
				<div class="brand__logo">
					{% include icons/logos/logo.svg %}
				</div>
				<div class="brand-name">
					Logo
				</div>
			</div>
		</div>
		
		<div class="u-padding-t-medium">
			<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
				<span class="btn__icon">
					{% include icons/code.svg %}
				</span>
				<span class="btn__text">Source</span>
			</button>
			<div class="u-hide js-source">
				<script type="text/plain" class="language-markup"><div class="brand brand--white"><div class="brand__logo">Icon</div><div class="brand-name">Logo</div></div></script>
			</div>
		</div>
	</div>

	<div class="col-sm-6 u-margin-b-large">
		<div class="u-border u-border-gray-300 u-padding-a-large u-br-x3">
			<div class="brand">
				<div class="brand__logo">
					{% include icons/logos/logo.svg %}
				</div>
				<div class="brand-name">
					Logo
				</div>
			</div>
		</div>
		<div class="u-padding-t-medium">
			<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
				<span class="btn__icon">
					{% include icons/code.svg %}
				</span>
				<span class="btn__text">Source</span>
			</button>
			<div class="u-hide js-source">
				<script type="text/plain" class="language-markup"><div class="brand"><div class="brand__logo">Icon</div><div class="brand-name">Logo</div></div></script>
			</div>
		</div>
	</div>

</div>
