---
layout: default
title: Icons
permalink: /elements/icons
---
<h1 class="u-margin-b-xxlarge u-t-bold">Icons</h1>

<p class="u-padding-b-large u-t-gray-500">We've adopted subset of icons from Google Material Design, and have added our own custom icons to suit the needs of Timelic.</p>

<div class="row u-margin-b-xxlarge">
	
	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center u-t-center">
		
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			
			{% include icons/add-box.svg %}

			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">add-box</div>

		</div>
		
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center u-t-center">
		
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			
			{% include icons/add.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">add</div>

		</div>
		
	</div>
	
	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/arrow-back.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-back</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/arrow-downward.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-downward</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/arrow-right.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-right</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/arrow-upward.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-upward</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/av-timer.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">av-timer</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/bookmark.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">bookmark</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/cancel.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">cancel</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/check.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">check</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/check-circle.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">check-circle</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/checkbox-outline.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">checkbox-outline</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/checkbox-outline-in-progress.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">checkbox-outline-in-progress</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/checkbox.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">checkbox</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/close.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">close</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/cloud-upload.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">cloud-upload</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/color-lens.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">color-lens</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/dashboard.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">dashboard</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/delete.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">delete</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/done-all.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">done-all</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/download-file.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">download-file</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/edit.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">edit</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/exit.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">exit</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/face.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">face</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/facebook.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">facebook</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/fingerprint.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">fingerprint</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/format-align-left.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">format-align-left</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/google-plus.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">google-plus</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/group.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">group</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/group-add.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">group-add</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/handle.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">handle</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/history.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">history</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/indeterminate-check-box.svg %}
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">indeterminate-check-box</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/key.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">key</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/keyboard-arrow-down.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">keyboard arrow down</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/landscape.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">landscape</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/linkedin.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">linked-in</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/lock.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">lock</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/menu.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">menu</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/more-horiz.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">more-horiz</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/more-vert.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">more-vert</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/note-add.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">note-add</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/pause-circle-filled.svg %}
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">pause-circle-filled</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/pause.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">pause</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/pause.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">pause</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/person.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">person</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/play-circle-filled.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">play-circle-filled</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/play-circle-outline.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">play-circle-outline</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/print.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">print</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/radio-button-unchecked.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">radio-button-unchecked</div>
			
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/refresh.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">refresh</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/save.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">save</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/settings.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">settings</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/stars.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">stars</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/stop-circle-filled.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">stop-circle-filled</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/superviser-account.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">superviser-account</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/timelapse.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">timelapse</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/trending-down.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">trending-down</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/trending-flat.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">trending-flat</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/trending-up.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">trending-up</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/twitter.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">twitter</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/undo.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">undo</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/wave-low.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">wave-low</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/wave-medium.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">wave-medium</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/wave-high.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">wave-high</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			{% include icons/widgets.svg %}
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">widgets</div>
		</div>
	</div>


</div>

<div class="u-padding-t-medium">
	<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
		<span class="btn__icon">
			{% include icons/code.svg %}
		</span>
		<span class="btn__text">Source</span>
	</button>
	<div class="u-hide js-source">
		<script type="text/plain" class="language-markup">script</script>
	</div>
</div>


