<aside class="pl-sidebar">

	<div class="pl-logo">
		<img src="assets/images/pl-logo@1x.png" srcset="assets/images/pl-logo@2x.png 2x" class="pl-logo__img" alt="Placeholder Logo">
	</div>


	
	<div class="pl-title">
		Pattern Library
	</div>
	

	<nav class="pl-sidebar-nav js-style-guide-nav">
		
		<a href="#" class="pl-sidebar-nav__link" >
			<span>Elements</span>
			<span>
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="pl-sidebar-nav__icon">
					<path d="M7 10l5 5 5-5z"/>
					<path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</span>
		</a>
		
		<nav class="pl-sidebar-sub-nav">
		
			<a href="#section-brand" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Brand
			</a>

			<a href="#section-colour-scheme" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Colour Scheme
			</a>
	
			<a href="#section-grid-system" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Grid system
			</a>

			<a href="#section-typography" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Typography
			</a>
			
			<a href="#section-body-copy" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Body copy
			</a>

			<a href="#section-icons" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Icons
			</a>


		</nav>


		<a href="#" class="pl-sidebar-nav__link">
			<span>Components</span>
			<span>
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="pl-sidebar-nav__icon">
					<path d="M7 10l5 5 5-5z"/>
					<path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</span>
		</a>
		
		<nav class="pl-sidebar-sub-nav">
			
			<a href="#section-form-elements" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Form elements
			</a>
			
			<a href="#section-progress" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Progress 
			</a>
						
			<a href="#section-loader" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Loader
			</a>
			
			<a href="#section-labels" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Labels
			</a>
		
			<a href="#section-facepile" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Facepile
			</a>
		
			<a href="#section-table" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Table
			</a>
		
			<a href="#section-tabs" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Tabs
			</a>
		

		</nav>

		<a href="#" class="pl-sidebar-nav__link">
			<span>Utilities</span>
			<span>
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="pl-sidebar-nav__icon">
					<path d="M7 10l5 5 5-5z"/>
					<path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</span>
		</a>
		
		<nav class="pl-sidebar-sub-nav">
			
			<a href="#section-buttons" class="pl-sidebar-sub-nav__link  pl-sidebar-sub-nav__link--active js-style-guide-link">
				Buttons
			</a>
			
			<a href="#section-labels" class="pl-sidebar-sub-nav__link js-style-guide-link">
				Labels
			</a>

		</nav>

	</nav>

</aside>
