<h1 class="u-margin-b-xxlarge u-t-bold">Facepile</h1>

<p class="u-padding-b-large u-t-gray-500">The facepile component shows a list of faces. Each circle represents a person. This component is used to show who has access to a specific view</p>

<div class="row">

	<div class="col-12">

		<ul class="facepile">

			<li class="facepile__item">
				<a href="#" class="facepile__link">
					<img src="frontend/assets/img/facepile-example-01.jpg" class="avatar avatar--size-medium facepile__image" alt="User Name">
				</a>
			</li>

			<li class="facepile__item">
				<a href="#" class="facepile__link">
					<img src="frontend/assets/img/facepile-example-02.jpg" class="avatar avatar--size-medium facepile__image" alt="User Name">
				</a>
			</li>

			<li class="facepile__item">
				<a href="#" class="facepile__link">
					<img src="frontend/assets/img/facepile-example-03.jpg" class="avatar avatar--size-medium facepile__image" alt="User Name">
				</a>
			</li>

			<li class="facepile__item">
				<a href="#" class="facepile__link">
					<img src="frontend/assets/img/facepile-example-04.jpg" class="avatar avatar--size-medium facepile__image" alt="User Name">
				</a>
			</li>

			<li class="facepile__item">
				<div class="facepile__number">+2</div>
				<img src="frontend/assets/img/facepile-example-05.png"
				class="avatar avatar--size-medium facepile__image" alt="">
			</li>

		</ul>

	</div>

</div>

<div class="u-padding-t-medium">
	<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
		<span class="btn__icon">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='code.svg', className='u-fill-primary' " />
		</span>
		<span class="btn__text">Source</span>
	</button>
	<div class="u-hide js-source">
		<script type="text/plain" class="language-markup"><ul class="facepile"><li class="facepile__item"><a href="#" class="facepile__link"><img src="frontend/assets/img/facepile-example-01.jpg" class="avatar avatar--size-medium facepile__image" alt="User Name"></a></li><li class="facepile__item"><div class="facepile__number">+2</div><img src="frontend/assets/img/facepile-example-05.png" class="avatar avatar--size-medium facepile__image" alt=""></li></ul></script>
	</div>
</div>
