<h1 class="u-margin-b-xxlarge u-t-bold">Labels</h1>

<p class="u-padding-b-large u-t-gray-500">Labels are used to provide additional information about something</p>

<div class="row">

	<div class="col-sm-4 u-padding-t-medium u-padding-b-medium">

		<span class="label u-border u-border-gray-300">
			<span class="label__text u-t-gray-600">Label</span>
		</span>

		<div class="u-padding-t-medium">
			<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
				<span class="btn__icon">
					<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='code.svg', className='u-fill-primary' " />
				</span>
				<span class="btn__text">Source</span>
			</button>
			<div class="u-hide js-source">
				<script type="text/plain" class="language-markup"><span class="label u-border u-border-gray-300"><span class="label__text u-t-gray-600">Label</span></span></script>
			</div>
		</div>

	</div>

	<div class="col-sm-4 u-padding-t-medium u-padding-b-medium">

		<div class="label label--has-icon u-border u-border-gray-300">

			<div class="label__icon js-trending-up">
				<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='trending-up.svg', className=u-fill-gray-600" />
			</div>

			<div class="label__text u-t-gray-600">Text</div>

		</div>

		<div class="u-padding-t-medium">
			<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
				<span class="btn__icon">
					<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='code.svg', className='u-fill-primary' " />
				</span>
				<span class="btn__text">Source</span>
			</button>
			<div class="u-hide js-source">
				<script type="text/plain" class="language-markup"><div class="label label--has-icon u-border u-border-gray-300"><div class="label__icon js-trending-up">icon</div><div class="label__text u-t-gray-600">Text</div></div></script>
			</div>
		</div>

	</div>

	<div class="col-sm-4 u-padding-t-medium u-padding-b-medium">

		<div class="label label--has-icon label--block u-border u-border-gray-300">

			<div class="label__icon js-trending-up">
				<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='trending-up.svg', className=u-fill-gray-600" />
			</div>

			<div class="label__text u-t-gray-600">Text</div>

		</div>

		<div class="u-padding-t-medium">
			<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
				<span class="btn__icon">
					<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='code.svg', className='u-fill-primary' " />
				</span>
				<span class="btn__text">Source</span>
			</button>
			<div class="u-hide js-source">
				<script type="text/plain" class="language-markup"><div class="label label--has-icon label--block u-border u-border-gray-300"><div class="label__icon js-trending-up">icon</div><div class="label__text u-t-gray-600">Text</div></div></script>
			</div>
		</div>
	</div>

</div>
