<h1 class="u-margin-b-xxlarge u-t-bold">Icons</h1>

<p class="u-padding-b-large u-t-gray-500">We've adopted subset of icons from Google Material Design, and have added our own custom icons to suit the needs of Timelic.</p>

<div class="row u-margin-b-xxlarge">
	
	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center u-t-center">
		
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='add-box.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">add-box</div>

		</div>
		
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center u-t-center">
		
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='add.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">add</div>

		</div>
		
	</div>
	
	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='arrow-back.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-back</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='arrow-downward.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-downward</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='arrow-right.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-right</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='arrow-upward.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">arrow-upward</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='av-timer.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">av-timer</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='bookmark.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">bookmark</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='cancel.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">cancel</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='check.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">check</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='check-circle.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">check-circle</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='checkbox-outline.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">checkbox-outline</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='checkbox-outline-in-progress.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">checkbox-outline-in-progress</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='checkbox.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">checkbox</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='close.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">close</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='cloud-upload.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">cloud-upload</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='color-lens.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">color-lens</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='dashboard.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">dashboard</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='delete.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">delete</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='done-all.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">done-all</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='download-file.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">download-file</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='edit.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">edit</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='exit.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">exit</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='face.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">face</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='facebook.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">facebook</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='fingerprint.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">fingerprint</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='format-align-left.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">format-align-left</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='google-plus.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">google-plus</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='group.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">group</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='group-add.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">group-add</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='handle.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">handle</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='history.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">history</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='indeterminate-check-box.svg', className='svg-element--inline'" />
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">indeterminate-check-box</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='key.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">key</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='keyboard-arrow-down.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">keyboard arrow down</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='landscape.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">landscape</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='linkedin.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">linked-in</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='lock.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">lock</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='menu.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">menu</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='more-horiz.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">more-horiz</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='more-vert.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">more-vert</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='note-add.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">note-add</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='pause-circle-filled.svg', className='svg-element--inline'" />
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">pause-circle-filled</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='pause.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">pause</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='pause.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">pause</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='person.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">person</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='play-circle-filled.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">play-circle-filled</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='play-circle-outline.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">play-circle-outline</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='print.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">print</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='radio-button-unchecked.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">radio-button-unchecked</div>
			
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='refresh.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">refresh</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='save.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">save</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='settings.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">settings</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='stars.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">stars</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='stop-circle-filled.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">stop-circle-filled</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='superviser-account.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">superviser-account</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='timelapse.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">timelapse</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='trending-down.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">trending-down</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='trending-flat.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">trending-flat</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='trending-up.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">trending-up</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='twitter.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">twitter</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='undo.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">undo</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='wave-low.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">wave-low</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='wave-medium.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">wave-medium</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='wave-high.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">wave-high</div>
		</div>
	</div>

	<div class="col-4 col-sm-3 col-lg-2 u-padding-t-small u-padding-b-small u-t-center">
		<div class="u-border u-border-gray-300 u-br-x2  u-padding-a-medium">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='widgets.svg', className='svg-element--inline'" />
		
			<div class="u-t-xsmall u-t-gray-500 u-truncate-text">widgets</div>
		</div>
	</div>


</div>

<div class="u-padding-t-medium">
	<button class="btn btn--icon-and-text js-source-trigger u-t-small u-t-primary">
		<span class="btn__icon">
			<include href="/frontend/assets/svg/parts/svg-layout.html" with="content='code.svg', className='u-fill-primary' " />
		</span>
		<span class="btn__text">Source</span>
	</button>
	<div class="u-hide js-source">
		<script type="text/plain" class="language-markup"><include href="/frontend/assets/svg/parts/svg-layout.html" with="content='widgets.svg'"/></script>
	</div>
</div>


