<h1 class="u-margin-b-xxlarge u-t-bold">Typography</h1>

<h2 class="u-margin-b-large u-t-gray-700 u-t-large">Typefaces</h2>

<p class="u-margin-t-medium u-padding-b-xxlarge u-t-gray-500">Timelic's primary typeface is Roboto — an open-source and modern typeface with legible numbers that renders well at all sizes.</p>

<div class="row u-margin-b-xxlarge">
	
	<div class="col-sm-6">
		<div class="u-border u-border-gray-300 u-padding-a-xxlarge u-br-x3" style="font-family: Roboto">
			<div class="u-t-xxlarge" style="font-size:120px">
				Aa
			</div>
			<div class="">
				A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
				a b c d e f g h i j k l m n o p q r s t u v w x y z
				0 1 2 3 4 5 6 7 8 9
			</div>
		</div>
	</div>

</div>


<h2 class="u-margin-b-large u-t-gray-700 u-t-large u-padding-t-xxlarge">Font Sizes</h2>

<p class="u-margin-t-medium u-padding-b-xxlarge u-t-gray-500">The font scale consists of 9 different font sizes. The default size applied to the body is Medium.</p>

<div class="row u-margin-b-xxlarge" style="font-family:Roboto">

	<div class="col-12">
		<div class="u-border u-border-gray-300 u-padding-a-medium u-truncate-text">
			<div class="u-t-xxlarge">
				The quick brown fox jumps over the lazy dog
			</div>
			<div class="u-t-gray-500 u-t-small">
				48px — Extra extra large
			</div>
		</div>
	</div>
	
	<div class="col-12">
		<div class="u-border-bottom u-border-left u-border-right  u-border-gray-300 u-padding-a-medium u-truncate-text">
			<div class="u-t-xlarge">
				The quick brown fox jumps over the lazy dog
			</div>
			<div class="u-t-gray-500 u-t-small">
				32px — Extra large
			</div>
		</div>
	</div>
	
	<div class="col-12">
		<div class="u-border-bottom u-border-left u-border-right  u-border-gray-300 u-padding-a-medium u-truncate-text">
			<div class="u-t-large">
				The quick brown fox jumps over the lazy dog
			</div>
			<div class="u-t-gray-500 u-t-small">
				21px — Large
			</div>
		</div>
	</div>
	
	<div class="col-12">
		<div class="u-border-bottom u-border-left u-border-right  u-border-gray-300 u-padding-a-medium u-truncate-text">
			<div class="u-t-medium">
				The quick brown fox jumps over the lazy dog
			</div>
			<div class="u-t-gray-500 u-t-small">
				16px — Medium
			</div>
		</div>
	</div>
	
	<div class="col-12">
		<div class="u-border-bottom u-border-left u-border-right  u-border-gray-300 u-padding-a-medium u-truncate-text">
			<div class="u-t-small">
				The quick brown fox jumps over the lazy dog
			</div>
			<div class="u-t-gray-500 u-t-small">
				15px — Small
			</div>
		</div>
	</div>
	
	<div class="col-12">
		<div class="u-border-bottom u-border-left u-border-right  u-border-gray-300 u-padding-a-medium u-truncate-text">
			<div class="u-t-xsmall">
				The quick brown fox jumps over the lazy dog
			</div>
			<div class="u-t-gray-500 u-t-small">
				13px — Extra small
			</div>
		</div>
	</div>
	
</div>
