.pl {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
	background-color: white;

	@include media-query('on-tablet') {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		height: 100%;
	}
}

.pl-header {
	position: fixed;
	width: 100%;
	padding: $spacing-small $spacing-xlarge;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
	z-index: 999;
	background-color: rgba(255,255,255, 0.95);

	@include media-query('on-tablet') {
		position: relative;
		padding: 0;
		display: block;
		box-shadow: none;
	}
}

.pl-header__logo {
	display: block;
	text-align: center;
	@include media-query('on-tablet') {
		padding-top: 40px;
	}
}

.pl__content {
	width: 100%;
	padding-top: 90px;
	padding: 90px $spacing-xlarge 0px $spacing-xlarge;

	@include media-query('on-tablet') {
		width: 70%;
		margin-left: 30%;
		padding: 0 50px;
		margin-top: 40px;
		box-sizing: border-box;
	}

	@include media-query('on-laptop') {
		width: 80%;
		margin-left: 20%;
		padding: 0 100px;
	}

}

.pl__section {
	margin-bottom: 150px;
}

.pl-title {
	display: none;
	@include media-query('on-tablet') {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}
}

.pl__nav {
	@include font-size-small;
	list-style: none;
}


.pl__nav-title {
	color: $gray-600;
	padding: 0 $spacing-small;
	margin: $spacing-xxlarge 0;

}

.pl-sidebar {
	background-color: white;
	width: 100%;

	@include media-query('on-tablet') {
		display: block;
		position: fixed;
		overflow-y: auto;
		height: 100%;
		width: 30%;
		border-right: 1px solid #E0E0E0;
	}

	@include media-query('on-laptop') {
		width: 20%;
	}

}



.pl-logo {
	display: block;
	padding-top: 40px;
	text-align: center;
}

.pl-logo__img {
	max-height: 60px;
}


.pl-menu-toggle {
	display: flex;
	align-items: center;

	@include media-query('on-tablet') {
		display: none;
	}
}

.pl-menu-toggle__text {
	text-transform: uppercase;
	padding: 0 $spacing-small;
	font-weight: bold;
}

.pl-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.pl-sidebar-nav {
	display: none;
	position: fixed;
	width: 100%;
	background-color: white;
	margin-top:74px;
	z-index: 999;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

	@include media-query('on-tablet') {
		position: relative;
		display: block;
		margin-top: 0;
		padding: 40px 0;
		box-shadow: none;
	}
}
.pl-sidebar-nav--is-visible {
	display: block;
}


.pl-sidebar-nav__link {
	display: flex;
	font-size: 20px;
	color: #757575;
	border-top: 1px solid #E0E0E0;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
	transition: color 0.25s;
	
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: #0057FF;
	}
}

.pl-sidebar-nav__icon {
	display: block;
	fill: #E0E0E0;
}

.pl-sidebar-nav__link--active {
	color: $primary;
	font-weight: bold;

	.svg-element {
		fill: black;
	}
}

.pl-sidebar-sub-nav {
	display: none;
	border-top: 1px solid #E0E0E0;
	background-color: #F5F5F5;
	padding: 20px 0 20px 50px;
}

.pl-sidebar-sub-nav--is-active {
	display: block;
}

.pl-sidebar-sub-nav__link {
	display: block;
	font-size: 14px;
	color: #9E9E9E;
	padding:10px 0;
	transition: color 0.25s;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: #0057FF;
	}
}
